@charset "utf-8";

@import "./variables.scss";
@import "~bulma/bulma.sass";
@import './projects.scss';

body {
    transition: all 0.6s ease;
    &.project-sec-1 {
        background-color: $sec1-color !important;
        transition: all 0.6s ease;
    }
    &.project-sec-2 {
        background-color: $sec2-color !important;
        transition: all 0.6s ease;
    }
    &.project-sec-3 {
        background-color: $sec3-color !important;
        transition: all 0.6s ease;
    }
    &.project-sec-4 {
        background-color: $sec4-color !important;
        transition: all 0.6s ease;
    }
    &.project-sec-5 {
        background-color: $sec5-color !important;
        transition: all 0.6s ease;
    }
}

.navbar {
    &.is-transparent {
        background-color: transparent;
        background-image: none;
    }
}

.footer {
    &.is-transparent {
        background-color: transparent;
        background-image: none;
    }
}

.navbar-menu {
    &.is-transparent {
        background-color: transparent;
        background-image: none;
    }
}

