$sec1-color: #E0FEFE;
$sec2-color: #C7CEEA;
$sec3-color: #FFDAC1;
$sec4-color: #FF9AA2;
$sec5-color: #B5EAD7;

#project-sec-1 {
    background-color: $sec1-color;
    &:hover {
        background-color: findColorInvert($sec1-color);
        transition: all 0.6s ease;
    }
}

#project-sec-2 {
    background-color: $sec2-color;
    &:hover {
        background-color: findColorInvert($sec2-color);
        transition: all 0.6s ease;
    }
}

#project-sec-3 {
    background-color: $sec3-color;
    &:hover {
        background-color: findColorInvert($sec3-color);
        transition: all 0.6s ease;
    }
}

#project-sec-4 {
    background-color: $sec4-color;
    &:hover {
        background-color: findColorInvert($sec4-color);
        transition: all 0.6s ease;
    }
}

#project-sec-5 {
    background-color: $sec5-color;
    &:hover {
        background-color: findColorInvert($sec5-color);
        transition: all 0.6s ease;
    }
}